:root {
    --clr-dark: rgb(198 235 197);
}

body {
    font-family: 'Pappins', sans-serif;
}

.navbar-brand {
    font-family: 'nunito', sans-serif;
    color: var(--clr-dark) !important;
}

.nav-link {
    font-weight: 500;
    font-size: 0.875rem;
    font-family: 'nunito', sans-serif;
    color: rgb(0, 0, 0);
}

.nav-link:hover {
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    color: rgb(198 235 197);;
}

.main-header {
    font-size: 2,5rem;
    font-weight: bold;
    color: var(--clr-dark);
}

.text-content {
    letter-spacing: 0.025rem;
    font-size: 0.875rem;
}

.my-photo {
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    border-radius: ;
}

.navbar-brand {
    cursor: pointer;
}

.text-ge {
    color:  #282A3A;
}

.section-header {
    font-weight: bold;
    color: var(--clr-dark);
}

.card {
    border: none;
    box-shadow: 0 1rem 3rem rgba(145, 145, 145, 0.175) !important;
}

img {
    cursor: pointer;
}

section {
    scroll-margin-top: 4rem;
}

/* Size Mobile */

@media (min-width: 576px) {
    .main-header {
        font-size: 4rem;
    }
}

.darkmode {
    background-color: rgb(14, 14, 14);
    color: rgb(196, 192, 192);
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}